#box {
  -webkit-transform: scale(13);
          transform: scale(13);
  left: -15px;
  top: -335px;
}

#box b {
  border: 1px solid #000;
  box-shadow: inset 0 0 30px rgba(0,0,0,1);
}

.countdown-zero #box {
  z-index: 2;
  -webkit-animation: cubeBack 2s ease-in forwards;
          animation: cubeBack 2s ease-in forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.countdown-zero #box b {
  -webkit-animation: cubeDetail 2s ease-in forwards;
          animation: cubeDetail 2s ease-in forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
