@-webkit-keyframes inOmni {
  from { left: 1796px; opacity: 0; }
  to { left: 214px; opacity: 1; }
}

@keyframes inOmni {
  from { left: 1796px; opacity: 0; }
  to { left: 214px; opacity: 1; }
}

@-webkit-keyframes outOmni {
  from { left: 214px; top: 4px; opacity: 1; }
  to { left: 214px; top: 4px; opacity: 0; }
}

@keyframes outOmni {
  from { left: 214px; top: 4px; opacity: 1; }
  to { left: 214px; top: 4px; opacity: 0; }
}

body {
  margin: 0;
  padding: 0;
}

#jakobox {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background: transparent;
  font-family: "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
}

.chroma #jakobox {
  background: #0f0 !important;
}

.screen #jakobox {
  /*background: url(https://i.ytimg.com/vi/KiKMW9RrSIY/maxresdefault.jpg) left top no-repeat !important;*/
  background: url(test.jpg) left top no-repeat !important;
}

iframe.testfollow {
  border: 0;
  width: 682px;
  height: 210px;
  right: 0;
  top: 283px;
  position: absolute;
}

#omni {
  position: absolute;
  width: 1920px;
  height: 64px;
  left: 0px;
  top: 1032px;
  background: rgba(30, 30, 30, 0.5);
  border: 4px solid rgba(255, 83, 39, 0.7);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

#omni .container {
  position: relative;
  width: 1920px;
  height: 57px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

#omni .stick, #omni p {
  position: relative;
  float: left;
  background: transparent;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#omni .spaced {
  margin-left: 15px;
}

#omni .stick {
  padding-top: 4px;
}

#omni .stick.first {
  margin-left: 10px;
}

#omni .stick:before, #omni p:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.2em #000;
  left: 0;
  z-index: -1;
}

/*#omni .stick {
  display: inline-block;
  padding-right: 0.2em;
}*/

#omni p {
  display: none;
  top: 4px;
  left: 1920px;
  padding: 0;
  margin: 0;
}

#omni p.in, #omni p.out {
  display: block;
  position: absolute;
}

#omni p.in {
  -webkit-animation: inOmni 1s ease-out forwards;
          animation: inOmni 1s ease-out forwards;
}

#omni p.out {
  -webkit-animation: outOmni 0.5s ease-in forwards;
          animation: outOmni 0.5s ease-in forwards;
}

#cam {
  position: absolute;
  top: 400px;
  left: 3px;
  width: 480px;
  height: 340px;
}

#cam .container {
  position: relative;
}

#cam .holder, #cam .logo, #cam .accent {
  position: absolute;
}

#cam .holder {
  box-sizing: border-box;
  width: 412px;
  height: 237px;
  border: 6px solid #2a3f56;
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
  left: 0px;
  top: 50px;
}

#cam .accent-top, #cam .accent-right, #cam .accent-right-before {
  position: absolute;
  box-sizing: border-box;
}

#cam .accent-top {
  border-bottom: 8px solid #df8926;
  border-left: 16px solid transparent;
  height: 0;
  width: 130px;
  left: 290px;
  top: 42px;
  z-index: 2;
}

#cam .accent-right {
  border-left: 8px solid #df8926;
  border-bottom: 16px solid transparent;
  width: 0;
  height: 150px;
  left: 412px;
  top: 42px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.75));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.75));
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

#cam .logo {
  font-size: 55px;
  font-family: "HelveticaNeue-CondensedBlack";
  font-weight:600;
  font-stretch:condensed;
  color: #fff;
}

#cam .logo svg {
  display: block;
  overflow: visible;
}

#cam .logo svg text, #cam .logo svg #Inside, #cam .logo svg #Outside {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
}

#jako, #box, #ox {
  position: absolute;
}

#jako {
  top: 8px;
  left: 6px;
}

#box {
  height: 85px;
  left: 36px;
  top: -12px;
}

#cam .logo svg #Inside, #cam .logo svg #Outside {
  stroke-width: 8;
}

#ox {
  top: 8px;
  left: 198px;
}
